<div class="mt-4">
  <form method="POST" action="/course/store">
    <div class="mb-3">
      <label for="name" class="form-label">Tiêu đề</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
      />
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>